<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/games/update" method="POST">
    	
    	Home Team <input name="homeTeam" value="<%= game.homeTeam %>" /><br />
    	Away Team <input name="awayTeam" value="<%= game.awayTeam %>"  /><br />
    	Home Line <input name="homeLine" value="<%= game.homeLine %>"  /><br />
    	Away Line <input name="awayLine" value="<%= game.awayLine %>" /><br />
    	Competition Name: <%= game.competition_name %>
    
      <br />
    	<input type="hidden" name="_id" value="<%= game._id %>" />
    	
    	<input type="submit" value="Make Game Entry" />
    </form>
  </body>
</html>