<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/games/create">Enter a New Game Entry</a><br /><br />
    <% for(var i=0; i<games.length; i++) { %>
    	<%= games[i].awayTeam %> vs. <%= games[i].homeTeam %> <a href="/games/update?_id=<%= games[i]._id %>">Update Game Data</a>  <a href="/games/delete?_id=<%= games[i]._id %>">Delete Game Data</a><br />
    <% } %>
  </body>
</html>