<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <% for(var i=0; i<competitions.length; i+=1) { %>

    <a href="/ticket/create?_id=<%= competitions[i].competitionName %>">Select a Ticket for <%= competitions[i].competitionName %></a><br />

    <% } %><br /><br />
    
    <% for(var i=0; i<tickets.length; i+=1) { %>
    	<%= tickets[i]._id %> <a href="/ticket/update?_id=<%= tickets[i]._id %>">Update Ticket Data</a>  <a href="/ticket/delete?_id=<%= tickets[i]._id %>">Delete Ticket Data</a><br />
    <% } %>
  </body>
</html>